{% extends 'main/layout.html' %}
{% load static %}
<!---->
{% block title %}Головна сторінка {% endblock %}
<!---->
{% block content %}
    <div class="index-main">
        <h1 class="head-title">Сайт туристичної агенції!</h1>
        <div class="main-index">
            <div class="button-box">
                <!--
                <div class="button-bg"><a class="button-s" href="{% url 'findtravel' %}">Пошук турів</a></div>
                -->
                <div class="button-bg"><a class="button-s" href="{% url 'travellist' %}">Список турів</a></div>
            </div>
        </div>
    </div>
{% endblock %}
